body{
      background:url(tk.jpg);
      background-size: cover;
      background-position: center;
}
.txt{
      font-family: Ink Free;
      font-size:50px;
      color:white;
}
.heading{
font-family: Colonna MT;
font-size: 60px;
color:black;
}
